@font-face 
  font-family: 'TacticSansR'
  src: local('TacticSansR'), url('./PTSans-Regular.ttf') format('truetype')





@font-face 
  font-family: 'TacticSansBI'
  src: local('TacticSansBI'), url('./PTSans-BoldItalic.ttf') format('truetype')
@font-face 
  font-family: 'TacticSansB'
  src: local('TacticSansB'), url('./tactic-sans-bold.ttf') format('truetype')
@font-face 
  font-family: 'InterI'
  src: url('./Inter-Italic-VariableFont_opsz,wght.ttf')
@font-face 
  font-family: 'Inter'
  src: url('./Inter-VariableFont_opsz,wght.ttf')